In [1]:
import pandas as pd
import numpy as np

In [2]:
train_df = pd.read_csv("./data/updated_train.csv")
test_df = pd.read_csv("./data/test.csv")

In [3]:
train_df.describe()

             seq_id            pH            tm
count  28981.000000  28695.000000  28981.000000
mean   15733.571029      6.872467     51.360005
std     9256.053131      0.793184     12.056717
min        0.000000      1.990000     25.100000
25%     7511.000000      7.000000     43.600000
50%    15575.000000      7.000000     48.800000
75%    23896.000000      7.000000     54.600000
max    31389.000000     11.000000    130.000000

In [4]:
test_df.describe()

             seq_id      pH
count   2413.000000  2413.0
mean   32596.000000     8.0
std      696.717422     0.0
min    31390.000000     8.0
25%    31993.000000     8.0
50%    32596.000000     8.0
75%    33199.000000     8.0
max    33802.000000     8.0

In [5]:
print(train_df.protein_sequence.str.len().max())
print(train_df.protein_sequence.str.len().min())

8798
5

In [6]:
chars = set()
for seq in train_df.protein_sequence:
    chars.update(list(seq))
print(len(chars), sorted(chars))

20 ['A', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'K', 'L', 'M', 'N', 'P', 'Q', 'R', 'S', 'T', 'V', 'W', 'Y']